<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar Distrito</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @distrito %>">
          <p>
            <strong>Nome:</strong>
            <%= @distrito.nome %>
          </p>
          <p>
            <strong>Municipio:</strong>
            <%= @distrito.municipio %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_distrito_path(@distrito), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", distritos_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @distrito, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
