<div id="<%= dom_id filial %>">
  <p>
    <strong>Nome:</strong>
    <%= filial.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= filial.descricao %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= filial.empresa_id %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= filial.municipio_id %>
  </p>

</div>
