<div id="<%= dom_id categoria_produto %>">
  <p>
    <strong>Empresa:</strong>
    <%= categoria_produto.empresa_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= categoria_produto.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= categoria_produto.descricao %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= categoria_produto.ativo %>
  </p>

</div>
