<div id="<%= dom_id entrada_estoque %>">
  <p>
    <strong>Empresa:</strong>
    <%= entrada_estoque.empresa_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= entrada_estoque.produto_id %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= entrada_estoque.quantidade %>
  </p>

  <p>
    <strong>Preco custo:</strong>
    <%= entrada_estoque.preco_custo %>
  </p>

  <p>
    <strong>Data entrada:</strong>
    <%= entrada_estoque.data_entrada %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= entrada_estoque.observacao %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= entrada_estoque.created_by %>
  </p>

</div>
