<div id="<%= dom_id saida_estoque %>">
  <p>
    <strong>Empresa:</strong>
    <%= saida_estoque.empresa %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= saida_estoque.produto %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= saida_estoque.quantidade %>
  </p>

  <p>
    <strong>Data saida:</strong>
    <%= saida_estoque.data_saida %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= saida_estoque.observacao %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= saida_estoque.created_by %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= saida_estoque.created_at %>
  </p>

</div>
