<div id="<%= dom_id empresa %>">
  <p>
    <strong>Nome fantasia:</strong>
    <%= empresa.nome_fantasia %>
  </p>

  <p>
    <strong>Razao social:</strong>
    <%= empresa.razao_social %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= empresa.cnpj %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= empresa.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= empresa.telefone %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= empresa.endereco %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= empresa.municipio_id %>
  </p>

  <p>
    <strong>Status empresa:</strong>
    <%= empresa.status_empresa_id %>
  </p>

</div>
