<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar Estado</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @estado %>">
          <p>
            <strong>Nome:</strong>
            <%= @estado.nome %>
          </p>
          <p>
            <strong>Sigla:</strong>
            <%= @estado.sigla %>
          </p>
          <p>
            <strong>Pais:</strong>
            <%= @estado.pais %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_estado_path(@estado), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", estados_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @estado, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
